@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  min-width: 980px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 30px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-logo {
  padding-top: 10px;
  padding-bottom: 17px;
}

.title-text {
  font-size: 22px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.content-home {
  background-color: rgb(240, 240, 240);
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 0px;
}

.content-aboutme {
  background-color: rgb(4, 172, 172);
  justify-content: center;
  padding-top: 120px;
  color: white;
  padding-bottom: 56px;
}

.content-aboutme a:link, a:visited {
  color: white;
  text-decoration: none;
}

.img-sandbox {
  margin: auto;
  display: block;
}

.img-me {
  margin: auto;
  display: block;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-bottom: 56px;
}

.text-large {
  padding-top: 65px;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  padding-bottom: 26px;
  width: 780px;
  margin: auto;
  text-align: center;
}

.text-medium {
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  margin: auto;
  text-align: center;
  padding-bottom: 62px;
}

.text-small {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  width: 780px;
  margin: auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 56px;
}

.button-contact-me {
  font-size: 16px;
  padding: 12px;
  border: 2px solid black;
  transition-duration: 0.4s;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-contact-me:hover {
  background-color: black;
  color: white;
}

li {
  margin-bottom: 8px;
}

.name {
    padding: 8px;
    padding-top: 24px;
}

.email {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-symbol {
    padding-right: 8px;
    font-size: 24px;
}

.logos {
    padding-top: 32px;
}

.arlogo {
    padding-left: 16px;
}

.content-whatis {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 80px - 80px);
}

.whatis-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
  grid-template-rows: 1040px;
}

.grey {
  background-color: rgb(240,240,240);
}

.whatis-text {
  width: 460px;
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 1.875em;
}

.whatis-text-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}

.img-sandbox2 {
  object-fit: cover;
  object-position: 50% 50%;
  max-height: 100%;
}

.content-services {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 780px;
}

.services-title {
  font-size: 72px;
  line-height: 1.25em;
  color: rgb(4, 172, 172);
  font-family: 'Poppins', sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}

.content-testimonials {
  background-color: rgb(4, 172, 172);
  flex: 1;
  padding-top: 120px;
}

.quote {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 380px;
  padding-bottom: 30px;
}

.content-contactme {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 80px - 80px);
}

.contactme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
  grid-template-rows: 600px;
}

.cyan {
  background-color: rgb(4, 172, 172);
}

.contactme-text {
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contactme-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  color: white;
  padding-bottom: 50px;
}

a.email-link:link {
  color: white;
  text-decoration: none;
}

a.email-link:visited {
  color: white;
  text-decoration: none;
}

a.email-link:hover {
  color: white;
  text-decoration: none;
}

a.email-link:active {
  color: white;
  text-decoration: none;
}

.img-houses {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}
